@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <h1>@ViewData["Title"]</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>