@using Microsoft.AspNetCore.Identity
@*Inject our new BlogUser*@
@using Blog.Services
@using Blog.Services.Interfaces
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager
@inject IImageService ImageService
@{
    BlogUser blogUser = await UserManager.GetUserAsync(User);
}


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            @if (UserManager.GetUserAsync(User).Result.ImageData != null)
            {
                <img src="@ImageService.ConvertByteArrayToFile(UserManager.GetUserAsync(User).Result.ImageData, UserManager.GetUserAsync(User).Result.ImageType!)" alt="Post Images">
            }
            else
            {
                <img src="~/img/DefaultProfileImage.png" alt="Post Image">
            }
        </a>
    </li>
}
else
{
    <li>
        <a class="hover-flip-item-wrapper" asp-area="Identity" asp-page="/Account/Login" title="Manage">

            <img src="~/img/DefaultProfileImage.png" alt="Post Image">

        </a>
    </li>
}

