@using Blog.Enums
@using Microsoft.AspNetCore.Identity
@*Inject our new BlogUser*@
@using Blog.Services
@using Blog.Services.Interfaces
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager
@inject IImageService ImageService
@{
    BlogUser blogUser = await UserManager.GetUserAsync(User);
}


@if (SignInManager.IsSignedIn(User))
@*@if(User.Identity.IsAuthenticated)*@
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <img src="@ImageService.ConvertByteArrayToFile(blogUser.ImageData, blogUser.ImageType!, (int)DefaultImage.BlogUser)" alt="Post Images"/>
        </a>
    </li>
}
else
{
    <li>
        <a class="hover-flip-item-wrapper" asp-area="Identity" asp-page="/Account/Login" title="Manage">

            <img src="~/img/DefaultProfileImage.png" alt="Post Image">

        </a>
    </li>
}

