@model Blog.Models.BlogPost
@using Blog.Enums
@using Blog.Services
@using Blog.Services.Interfaces
@inject IImageService ImageService

@{
    ViewData["Title"] = "Edit";
}
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <h1>Edit BlogPost</h1>
            <hr />
            <div class="row">
                <div class="col">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Created" />
                        <input type="hidden" asp-for="Updated" />
                        <input type="hidden" asp-for="Slug" />
                        <input type="hidden" asp-for="ImageData" />
                        <input type="hidden" asp-for="ImageType" />
                        <div class="square-img-container">
                                <img class="img-fluid img-thumbnail" style="width:100px; height:80px" src="@ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType!,(int)DefaultImage.BlogPost)" id="imageData">
                        </div>
                        <div>
                            <label asp-for="BlogPostImg" class="control-label"></label>
                            <input type="file" asp-for="BlogPostImg" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                                   onchange="document.getElementById('imageData').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="BlogPostImg" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Abstract" class="control-label"></label>
                            <input asp-for="Abstract" class="form-control" />
                            <span asp-validation-for="Abstract" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea asp-for="Content" class="form-control" rowls="7"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Category" class="control-label"></label>
                            <select name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Tags" class="control-label"></label>
                            <select name="TagId" class="form-control" asp-items="ViewBag.TagId" multiple></select>
                        </div>
                        <div class="form-group form-check mt-2">
                            <label class="form-check-label" for="IsPublished">
                                <input asp-for="IsPublished" class="form-check-input" />Published
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input asp-for="IsDeleted" class="form-check-input" />Deleted
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
